[submodule "externals/MemoryModule"]
	path = externals/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "externals/REFPROP-headers"]
	path = externals/REFPROP-headers
	url = https://github.com/CoolProp/REFPROP-headers
